<p id="notice"><%= notice %></p>



<h1>Events</h1>

<table>

  <thead>

    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="card-group">
  <div class="card">
  <img class="card-img-top" src="" alt="">
  <div class="card-body">
  <h4 class="card-title">Card Title</h4>
  <p class="card-text"></p>
  </div>
  <div class="card-footer">
  <small class="text-muted">Here is a footer</small>
  </div>
  </div>
  <div class="card">
  <img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Flex Card Image 2">
  <div class="card-body">
  <h4 class="card-title">Card Title</h4>
  <p class="card-text"></p>
  </div>
  <div class="card-footer">
  <small class="text-muted">Here is a footer</small>
  </div>
  </div>
  <div class="card">
  <img class="card-img-top" src="" alt="">
  <div class="card-body">
  <h4 class="card-title">Card Title</h4>
  <p class="card-text"></p>
  </div>
  <div class="card-footer">
  <small class="text-muted">Here is a footer</small>
  </div>
  </div>
  </div>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
